*.o
.idea/
.idea/*
.logs/*
.idea
.vscode/
.vscode/*
.vscode
.bash_history
.cache/
.config/
.keras/
.DS_Store
.python_history
valid
valid/*
train
train/*
__pycache__/
src/__pycache__/
*.pyc
*.h5
*.zip
*.idea
YOLO/obj/*
__pycache__/
*.h5
*.tflite
venv
.idea
*.avi